body {
    color: white;
    background-color: black;
    font-family: cursive;
    text-align: center;
    
}

img {
    width: 30px;
    height: 30px;
    padding: 2px;
}

.um {
    display: inline-block;
}

.dois {
    display: inline-block;
}

p {
    font-size:35px;
    
}
.meio {
    margin-top: 200px;
    margin-left: 420px;
    border: 5px solid #5bbe42;
    width: 600px;
    background-color: rgb(92, 92, 92)
   
}